# Meta Pixel ID (Insira seu ID numérico do Meta Ads aqui)
# Exemplo: NEXT_PUBLIC_META_PIXEL_ID=123456789012345
NEXT_PUBLIC_META_PIXEL_ID=

# Link de destino do Grupo (WhatsApp)
NEXT_PUBLIC_GROUP_INVITE_URL=https://chat.whatsapp.com/GFVWkCX7Gxy1yNMvrNMthA

# Nome do Grupo / Marca
NEXT_PUBLIC_SITE_NAME=Achadinhos VIP - Shopee & Mercado Livre
